:root {
	--prim-color-1: #ffdc73;
	--prim-color-2: #ffcf40;
	--prim-color-3: #ffbf00;
	--prim-color-4: #bf9b30;
	--prim-color-5: #a67c00;
	--comp-color-1: #6c8cd5;
	--comp-color-2: #4671d5;
	--comp-color-3: #1240ab;
	--comp-color-4: #2a4480;
	--comp-color-5: #06266f;
}

html {
	background-color: var(--prim-color-1);
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	align-items: center;
	background-color: var(--prim-color-2);
	color: var(--comp-color-5);
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu Mono', monospace;
	margin: auto;
	width: 25rem;
}

header {
	display: flex;
	justify-content: center;
	width: 100%;
}

main {
	width: 100%;
}

footer {
	text-align: center;
	width: 100%;
}

h1 {
	color: var(--prim-color-1);
	letter-spacing: 0.2rem;
	text-shadow: -2px 0 var(--comp-color-5), 0 2px var(--comp-color-5),
		2px 0 var(--comp-color-5), 0 -2px var(--comp-color-5);
}

.formular {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width: 25rem;
}

.settings {
	display: flex;
	justify-content: space-evenly;
}

.settings__setting {
	display: flex;
	flex-direction: column;
}

.settings__label {
	text-align: center;
	margin-bottom: 0.4rem;
}

.settings__input {
	align-self: center;
	background-color: var(--comp-color-1);
	border: 1px solid var(--comp-color-5);
	color: var(--prim-color-1);
}

.settings__text {
	background-color: var(--comp-color-1);
	border: 1px solid var(--comp-color-5);
	color: var(--prim-color-1);
	text-align: center;
	width: 3rem;
}

.formular__button {
	background-color: var(--comp-color-4);
	border: 1px solid var(--comp-color-5);
	border-radius: 10px;
	color: var(--prim-color-1);
	font-weight: bold;
	padding: 0.5rem 1rem;
	margin: 0.7rem auto;
}

.formular__button:hover {
	background-color: var(--comp-color-2);
}

.result {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	visibility: hidden;
	width: 80vw;
	max-width: 25rem;
}

.result-label {
	align-self: center;
	margin-bottom: 0.4rem;
}

.result-text {
	align-self: center;
	background-color: var(--comp-color-1);
	border: 1px solid var(--comp-color-5);
	color: var(--prim-color-1);
	text-align: center;
	width: 16rem;
}
